In [137]:
file_path = 'SMSSpamCollection'
def load_data(file_path):
  try:
      with open(file_path, 'r') as file:
          content = file.read()
      print(content[:1000])
  except FileNotFoundError:
      print(f"Error: The file '{file_path}' was not found.")
  except Exception as e:
      print(f"An error occurred: {e}")

content = load_data(file_path)

ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
ham	Ok lar... Joking wif u oni...
spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
ham	U dun say so early hor... U c already then say...
ham	Nah I don't think he goes to usf, he lives around here though
spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv
ham	Even my brother is not like to speak with me. They treat me like aids patent.
ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
spam	WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
spam	H

In [115]:
#creating dataframe with label and text columns
rows = content.split("\n")
df = pd.DataFrame([msg.split("\t") for msg in rows],columns=["label","text"])
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [116]:
import pandas as pd
import string
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, accuracy_score

# Ensure necessary NLTK data is downloaded (run once)
import nltk
nltk.download('stopwords')
nltk.download('punkt_tab')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [117]:

# Text Preprocessing Function
def process_text(text):
    """
    Removes punctuation and stopwords, and returns a list of clean words.
    """
    if text is None:
        return []
    # Remove punctuation

    # for char in text:
    #   if char not in string.punctuation:
    #     print(char)
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)

    # Remove stopwords
    clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_words

In [118]:
# Vectorization (Feature Extraction)
# Convert a collection of text documents to a matrix of token counts
# Analyzer uses the custom process_text function
vectorizer = CountVectorizer(analyzer=process_text)
vectorized_text = vectorizer.fit_transform(df['text'].tolist())

In [124]:
df = pd.concat([df,pd.DataFrame(vectorized_text.toarray().tolist())],axis=1)
df.shape

(5575, 11427)

In [133]:
df=df.drop("text",axis=1)
# Split the data into 80% training and 20% temp (validation + test)
df_train, df_temp = train_test_split(df, test_size=0.3, random_state=42)

# Split the 30% temp data into 15% validation and 15% test
# test_size=0.5 means half of df_temp goes to validation and half to test
df_val, df_test = train_test_split(df_temp, test_size=0.5, random_state=42)

In [134]:
df.head()

,label,0,1,2,3,4,5,6,7,8,...,11415,11416,11417,11418,11419,11420,11421,11422,11423,11424
0,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,spam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
df_train.to_csv('train_set.csv', index=False)
df_val.to_csv('validation_set.csv', index=False)
df_test.to_csv('test_set.csv', index=False)